.header {
    background: rgba(20, 20, 20, 0.5);
    padding: 25px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(8px);

    @include media(475px) {
        &.active {
            height: 250px;
        }
    }

    &__menu {
        display: none;

        @include media(475px) {
            display: block;
        }

        img {
            position: fixed;
            top: 0;
            right: 0;
            padding: 15px 15px 0 0;
            height: 35px;
            width: 35px;
        }
    }

    &__logo {
        img {
            @include media(475px) {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-top: 15px;
                height: 50px;
                display: block;
                transition: 0.3s linear;
                transform: translateY(-10%);

                &.active {
                    transform: translateY(0%);
                }
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media(1024px) {
            padding-left: 30px;
        }


    }

    .menu {
        font-size: 22px;
        font-weight: 700;
        display: none;

        @include media(475px) {
            display: inline-block;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 30px;
        position: relative;

        @include media(475px) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            row-gap: 20px;
            padding-top: 70px;
            transition: 0.3s linear;
            transform: translateY(-10%);

            &.active {
                transform: translateY(0%);
                display: flex;
            }
        }

    }

    .close {
        color: white;
        font-size: 36px;
        position: absolute;
        top: 30px;
        right: 30px;
        display: none;

        @include media(475px) {
            display: inline-block;
        }
    }

    &__link {
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include media(475px) {
            font-size: 22px;
        }

        * {
            pointer-events: none;
        }

        &.active {
            color: white;
        }

    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 576px;
    height: 100px;
    font-weight: bold;
    background-color: #000;

    @include media (576px) {
        max-width: 400px;
        min-width: 400px;
        width: 100%;
    }

    @include media (475px) {
        max-width: 320px;
        min-width: 320px;
        width: 100%;
    }

    @include media (376px) {
        max-width: 300px;
        min-width: 300px;
        width: 100%;
    }

}

.btn {
    background-color: #149A03;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border-radius: 10px;

    @include media(1440px) {
        font-size: 16px;
        line-height: 25px;
    }
}

.upcoming {
    height: 100vh;
    display: flex;
    align-items: flex-end;

    &__slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        z-index: 1;
        position: relative;
        color: #FFFFFF;

        @include media (985px) {
            row-gap: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #141414C2;
            z-index: -1;
        }

        &-img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-title {
            font-size: 80px;
            line-height: 120%;

            @include media (985px) {
                font-size: 50px;
            }

            @include media (500px) {
                font-size: 30px;
            }
        }

        &-text {
            max-width: 960px;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;

            @include media(768px) {
                max-width: 700px;
            }

            @include media(376px) {
                max-width: 300px;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }

    .line {
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #fff;
        left: 0;
        bottom: 0;
    }

    &__progress {
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 15px;
        color: #FFFFFF;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(90deg, #000000 55.64%, rgba(0, 0, 0, 0) 100%);
        }

        &-img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 280px;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        &-text {
            font-size: 16px;
            margin-bottom: 15px;
        }

        &-title {
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.loading {
    position: fixed;
    z-index: 999;
    background-color: #00000080;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        display: inline-block;
        width: 60px;
        // height: 60px;
        border: 5px solid transparent;
        border-top-color: #149a03;
        // border-radius: 50%;
        animation: spinner 0.5s infinite linear;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(365deg);
    }
}

.slider {
    padding: 23px 0;

    &__title {
        padding: 0 100px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 22px;
    }

    &__swiper {
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 100px;

        .swiper-button-prev,
        .swiper-button-next {
            color: #FFFFFF;

            &::after {
                font-size: 25px;
            }

            &.swiper-button-disabled {
                display: none;
            }
        }
    }

    &__slide {
        box-shadow: 0px 4px 4px 0px #000000;
        border: 1px solid #000;
        border-radius: 10px;
        overflow: hidden;
        height: 462px;
        user-select: none;

        a {
            color: #FFFFFF;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 10px;
            font-family: Raleway;
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__icon {
        width: 22px;

    }

    @include media(900px) {

        &__swiper,
        &__title {
            padding-left: 20px;
            padding-right: 20px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}

.triangle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
        border: 2px solid #FFFFFF;
    }
}

.infoblock {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 40px;
    background: linear-gradient(90deg, #000000 33%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
    height: 0;
    // transition-behavior: allow-discrete;
    // transition: 0.1s;

    &.active {
        height: 700px;

        // @starting-style {
        //     height: 0px;
        // }
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
        background-color: #141414B2;
        padding: 20px;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media(1440px) {
            top: 20px;
            right: 20px;
            width: 46px;
            height: 46px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        // width: 60%;
        z-index: -1;
    }

    &__content {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        justify-content: center;
        row-gap: 30px;

        @include media(375px) {
            row-gap: 10px;
            padding-left: 30px;
        }
    }

    &__title {
        font-size: 50px;
        line-height: 58px;
        color: #FFFFFF;

        @include media(1440px) {
            font-size: 45px;
        }

        @include media(376px) {
            font-size: 35px;
            line-height: 40px;
        }
    }

    &__text {
        color: #FFFFFF;
        max-width: 935px;
        font-size: 20px;
        line-height: 30px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

        @include media(1440px) {
            font-size: 18px;
            line-height: 25px;
        }

        @include media(768px) {
            max-width: 700px;
        }

        @include media(475px) {
            max-width: 360px;
        }

        @include media(376px) {
            max-width: 300px;
        }
    }

    &__genres {
        display: flex;
        align-items: center;
        column-gap: 20px;
        color: #FFFFFF99;

        @include media(475px) {
            flex-wrap: wrap;
        }

        @include media(376px) {
            flex-wrap: wrap;
        }

        li {
            font-family: Montserrat;
            font-size: 20px;
            line-height: 30px;

            @include media(1440px) {
                font-size: 18px;
                line-height: 25px;
            }

            @include media(376px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__cast {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        @include media(475px) {
            gap: 10px;
        }
    }
}

.cast {
    background-color: #14141480;
    border: 1px solid #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0.5px 15px 0.5px 0.5px;
    cursor: pointer;

    &__img {
        border-radius: 50%;
        width: 45px;
        height: 50px;
        object-fit: cover;
    }

    span {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 30px;

        @include media(1440px) {
            font-size: 14px;
            line-height: 25px;
        }
    }
}

.movie {
    padding-top: 120px;
    padding-bottom: 70px;

    @include media (376px) {
        padding-top: 80px;
    }

    &__title {
        color: #FFFFFF;

        @include media(1024px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include media (376px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 50px;

        @include media(1024px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }

        @include media(768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }

        @include media (475px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @include media (376px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__item {
        height: 464px;
        border: 1px solid #000;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            // background-color: rgba(0, 0, 0, 0.5);
            background: linear-gradient(358.77deg, #000000 0.69%, rgba(0, 0, 0, 0.723958) 37.71%, rgba(0, 0, 0, 0) 72.49%);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: 0.3s;
        }

        &:hover {
            &::before {
                background: transparent;
            }

            .movie__name {
                opacity: 0;
            }
        }

    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: #FFFFFF;
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        z-index: 2;
        color: rgba(255, 255, 255, 1);
        transition: 0.3s;

        @include media(1440px) {
            font-size: 20px;
        }

        @include media(768px) {
            padding: 0 10px;
        }
    }
}

.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    color: #FFFFFF;

    span,
    button {
        font-size: 20\\18px;
        color: #FFFFFF;
        background-color: transparent;
        font-weight: 700;
    }
}

.search {
    padding-top: 120px;

    input {
        width: 100%;
        font-size: 25px;
        padding: 20px;

        @include media(1440px) {
            font-size: 18px;
        }
    }
}


.currentFilm {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
    margin-top: 90px;
    background: linear-gradient(90deg, #000000 33%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);

    @include media(475px) {
        padding: 0;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        // width: 60%;
        z-index: -1;
        filter: blur(10px);
    }

    &__posterImg {
        position: absolute;
        top: 60px;
        right: 250px;
        width: 350px;
        z-index: 1;
        border-radius: 10px;

        @include media(1640px) {
            right: 140px;
            width: 330px;
        }

        @include media(1440px) {
            right: 150px;
            width: 330px;
        }

        @include media(1024px) {
            right: 100px;
            width: 300px;
        }

        @include media(768px) {
            right: 50px;
            width: 260px;
        }

        @include media(475px) {
            position: relative;
            top: 30px;
            left: 30px;
            width: 250px;
        }
    }

    &__content {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        justify-content: center;
        row-gap: 30px;

        @include media(475px) {
            padding-left: 20px;
        }
    }

    &__title {
        font-size: 50px;
        line-height: 58px;
        color: #FFFFFF;

        @include media(1440px) {
            font-size: 45px;
            line-height: 50px;
        }

        @include media(1024px) {
            font-size: 40px;
            line-height: 45px;
            width: 350px;
        }

        @include media(768px) {
            font-size: 30px;
            line-height: 45px;
            width: 300px;
        }

        @include media(475px) {
            font-size: 30px;
            line-height: 45px;
            width: 300px;
            margin-top: 60px;
        }
    }

    &__text {
        color: #FFFFFF;
        max-width: 935px;
        font-size: 20px;
        line-height: 30px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

        @include media(1640px) {
            font-size: 20px;
            line-height: 30px;
            max-width: 840px;
            min-height: 70px;
        }

        @include media(1440px) {
            font-size: 18px;
            line-height: 25px;
            max-width: 840px;
            min-height: 70px;
        }

        @include media(1024px) {
            font-size: 18px;
            line-height: 25px;
            max-width: 840px;
            min-height: 70px;
        }

        @include media(475px) {
            font-size: 16px;
            line-height: 20px;
            max-width: 400px;
            min-height: 60px;
        }
    }

    &__genres {
        display: flex;
        align-items: center;
        column-gap: 20px;
        color: #FFFFFF99;

        @include media(1640px) {
            flex-wrap: wrap;
        }

        @include media(768px) {
            flex-wrap: wrap;
        }

        @include media(475px) {
            column-gap: 10px;
            flex-wrap: wrap;
        }

        li {
            font-family: Montserrat;
            font-size: 20px;
            line-height: 30px;

            @include media(1440px) {
                font-size: 18px;
                line-height: 25px;
            }

            @include media(768px) {
                font-size: 16px;
                line-height: 20px;
            }

            @include media(475px) {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    &__cast {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 60px;

        @include media(475px) {
            margin-top: 30px;
            margin-bottom: 30px;
            gap: 15px;
        }
    }

    &__heading {
        color: #FFFFFF;
        padding-left: 50px;
        font-family: Raleway;
        font-size: 16px;
        line-height: 30px;
        margin-top: 160px;
        margin-bottom: 30px;

        @include media(1440px) {
            margin-top: 100px;
        }

        @include media(475px) {
            margin-top: 60px;
            margin-bottom: 0px;
        }

        @include media(475px) {
            padding-left: 20px;
        }
    }
}

.currentFilmInfo {
    color: #FFFFFF;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    th,
    td {
        padding: 15px 40px;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 30px;
        text-align: center;

        @include media(1440px) {
            font-size: 18px;
            line-height: 25px;
            padding: 10px 35px;
        }

        @include media(768px) {
            font-size: 16px;
            line-height: 20px;
            padding: 5px 25px;
            text-align: center;
        }

        @include media(475px) {
            font-size: 14px;
            line-height: 16px;
            padding: 5px 5px;
            text-align: center;
        }

        @include media(375px) {
            font-size: 10px;
            line-height: 14px;
            padding: 2px 5px;
            text-align: center;
        }
    }
}

.trailer {
    margin: 90px 40px 30px 40px;

    @include media(391px){
        margin: 50px 0 0 0;
    }

    @include media(475px){
        margin: 50px 0 0 0;
    }

    @include media(768px){
        margin: 90px 0 0 0;
    }

    @include media(1024px){
        margin: 90px 0 0 0;
    }


    &__video {
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            height: 100vh;
            width: 100vw;
        }
    }
}

.recomended {

    &__title {
        color: #FFFFFF;
        margin: 0px 0 30px 300px;
        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;

        @include media(1640px) {
            margin: 0px 0 30px 100px;
        }

        @include media(1440px) {
            margin: 0px 0 30px 180px;
        }

        @include media(1024px) {
            margin: 0px 0 30px 100px;
        }

        @include media(475px) {
            margin: 0px 0 10px 10px;
        }
    }

    &__films {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 22px;
        margin-bottom: 70px;

        @include media(1024px) {
            column-gap: 15px;
        }

        @include media(475px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0px;
        }

        &-img {
            height: 464px;
            border: 1px solid #000000;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px #000000;
            cursor: pointer;

            @include media(1440px) {
                height: 370px;
            }

            @include media(1024px) {
                height: 300px;
            }

            @include media(768px) {
                height: 200px;
            }

            @include media(475px) {
                height: 280px;
                margin: 10px;
            }

            @include media(375px) {
                height: 200px;
                margin: 5px;
            }

        }
    }
}

.footer {
    height: 400px;
    background-color: #1F1F1F;
    padding: 35px 50px;

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 18px;
        cursor: pointer;

        @include media(475px) {
            gap: 10px;
            flex-wrap: wrap;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 50px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 300;
        line-height: 24.38px;
        color: #A5A5A5;

        @include media(1440px) {
            font-size: 18px;
            line-height: 20px;
        }
    }
}

.toprated {
    background-color: #fff;
    padding: 23px 0;

    &__title {
        font-family: Montserrat;
        font-size: 30px;
        font-style: italic;
        font-weight: 700;
        line-height: 30px;
        padding-left: 100px;
        padding-top: 30px;

        @include media(1440px) {
            font-size: 24px;
            line-height: 30px;
        }

        span {
            font-family: Montserrat;
            font-size: 40px;
            color: #149A03;
            font-style: normal;
            position: relative;
            top: 3px;
            padding-left: 15px;

            @include media(1440px) {
                font-size: 34px;
                line-height: 40px;
            }
        }
    }

    &__swiper {
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 100px;

        .swiper-button-prev,
        .swiper-button-next {
            color: #FFFFFF;

            &::after {
                font-size: 25px;
            }

            &.swiper-button-disabled {
                display: none;
            }
        }
    }

    &__shadow {
        z-index: 1;
        background: linear-gradient(90deg, #000000 33%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
        background: red;
    }

    &__slide {
        box-shadow: 0px 4px 4px 0px #000000;
        border: 1px solid #000;
        border-radius: 10px;
        overflow: hidden;
        height: 462px;
        user-select: none;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #000000 33%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
        }

        a {
            color: #FFFFFF;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 10px;
            font-family: Raleway;
            font-size: 20px;
            line-height: 30px;
        }

        &-num {
            position: absolute;
            left: 30px;
            font-size: 150px;
            color: #fff;
            z-index: 1;
            font-family: Montserrat;
            font-weight: 700;
            font-style: italic;

            @include media(1440px) {
                font-size: 120px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__icon {
        width: 22px;
    }

    @include media(900px) {

        &__swiper,
        &__title {
            padding-left: 20px;
            padding-right: 20px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}